@{
    ViewData["Title"] = "New Song";
}

@model PlaylistMaker.Models.Song

@using (Html.BeginForm())
{
  @* Song Title *@
  <div class="form-group">
    @Html.LabelFor(model => model.Title, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>

  @* Album of Song *@
  <div class="form-group">
    @Html.LabelFor(model => model.Album, new { @class = "control-label" })
    @Html.DropDownList("AlbumId", (SelectList)ViewBag.AlbumId, "Select an Album", new { @class = "form-control" })
    <span asp-validation-for="AlbumId" class="text-danger"></span>
  </div>

  <div class="form-group">
    <input type="submit" value="Add new Song" class="btn btn-primary"/>
  </div>
}
<p>@Html.ActionLink("Back", "Index")</p>